---
import Layout from "../layouts/Layout.astro";
import ReactCounter from "../components/react/ReactCounter";
import VueCounter from "../components/vue/VueCounter.vue";
import SvelteCounter from "../components/svelte/SvelteCounter.svelte";
import SolidCounter from "../components/solid/SolidCounter";
---

<Layout title="Astro-not counters">
  <main class="flex justify-center items-center m-24">
    <ReactCounter client:load />
    <VueCounter client:load />
    <SvelteCounter client:load />
    <SolidCounter client:load />
  </main>
</Layout>
